In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv('ArtHistBooks.csv')
books

     ArtBooks  HistoryBooks  TableBooks  Purchase
0           0             0           1         0
1           0             1           0         0
2           0             0           0         0
3           1             0           1         0
4           1             1           1         0
..        ...           ...         ...       ...
995         1             1           0         1
996         0             1           0         0
997         1             0           1         0
998         1             1           0         0
999         0             1           0         0

[1000 rows x 4 columns]

### No info on prior: $\beta(1,1) = Unif(0,1)$

$\therefore \alpha_{prior} = \beta_{prior} = 1$

In [12]:
# Beta(alpha = 1, beta = 1) = Unif(0,1)

a_prior_art = 1
a_prior_history = 1
a_prior_table = 1

b_prior_art = 1
b_prior_history = 1
b_prior_table = 1

$X_i = \Sigma{x_i}$

In [13]:
X_art = books['ArtBooks'].sum()
X_history = books['HistoryBooks'].sum()
X_table = books['TableBooks'].sum()

In [9]:
X_table

380

$\alpha_{post} = \alpha_{prior} + \Sigma{x_i}$

In [14]:
a_post_art = a_prior_art + X_art # alpha_post = a_prior + X
a_post_history = a_prior_history + X_history
a_post_table = a_prior_table + X_table

In [15]:
a_post_table

381

$\beta_{post} = N - \Sigma{x_i} + \beta_{prior}$

In [16]:
b_post_art = 1000 - X_art + b_prior_art # beta = N - sigma(x) + beta prior
b_post_history = 1000 - X_history + b_prior_history
b_post_table = 1000 - X_table + b_prior_table

In [17]:
b_post_table

621

$\hat{\theta_{post}} = E(\theta | x) = \dfrac{\alpha_{post}}{\alpha_{post} + \beta_{post}}$

In [18]:
theta_art = a_post_art / (a_post_art + b_post_art)
theta_post = a_post_history / (a_post_history + b_post_history)s
theta_table = a_post_table / (a_post_table + b_post_table)

In [19]:
theta_table

0.38023952095808383